body {
    font-family: var(--font-family-base);
    font-size: 16px;
    /* line-height: 1.75; */
    line-height: var(--line-height);
    color: var(--color-dark-primary);
    background-color: var(--color-dark);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.courses__container {
    max-width: calc(
        var(--container-width-courses) + var(--container-padding-x) * 2
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

a {
    display: inline-block;
    position: relative;
}

a:not(.courses__link, .header__center-logo)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-dark-secondary);
    transition: width 0.3s ease-out;
}

a:hover::after {
    width: 100%;
}

main {
    background-color: var(--color-bg-gray);
}
