.header {
  background-color: var(--color-bg-gray);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 18px;
}

.header__top-navigation {
}

.navigation-list {
  display: flex;
  gap: 30px;
  color: var(--color-dark-secondary);
}

.navigation-item {
}

.header__top-support {
  display: flex;
  align-items: center;
}



.header__main {
}
.header__botttom {
}

